html, body {
  margin: 0;
  padding: 0;
  background: #111;
  color: white;
  font-family: Arial, sans-serif;
  overflow-x: hidden;
}

.hero {
  height: 300dvh;
}

.viewer {
  width: 100vw;
  height: 100dvh;

  display: flex;
  align-items: center;
  justify-content: center;
}

.stage {
  position: relative;
  width: min(100vw, 100dvh);
  height: min(100vw, 100dvh);
}
